.page-image {
  background: url("images/glacier.png");
  background-size: 100%;
}

#inside-jumbotron {
  background-color: transparent;
}

.header li a {
  border: 2px;

}

body { padding-bottom: 70px; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}